In [1]:
import pandas as pd

In [2]:
hsl = pd.read_csv('house_price+stats+lsscore.csv')

In [3]:
hsl.columns

Index(['lga', 'Median House Price', 'Mean House Price',
       'Normalised Median House Price', 'Normalised Mean House Price',
       'Crime Rate', 'Facility Tally', 'Greenspace Tally', 'Greenspace_area',
       'Response Time', 'School Tally', '(LGA Area)', '(LGA Population)',
       '(Num suburbs)', 'living standard LR', 'living standard NMI'],
      dtype='object')

In [4]:
table = pd.DataFrame({'LGA Name':hsl['lga'], 'Median House Price':hsl['Median House Price'],'Liveability Score': hsl['living standard NMI']})

In [5]:
table.head()

     LGA Name  Median House Price  Liveability Score
0      ALPINE              460000           2.279018
1      ARARAT              163250           2.156228
2    BALLARAT              416000           2.715337
3     BANYULE              880500           2.650137
4  BASS COAST              495500           2.262490

In [6]:
table.to_csv('liveability table', index=False)

In [7]:
table1 = pd.DataFrame({'LGA Name':hsl['lga'], 'Crime Rate':hsl['Crime Rate'],'Facility Tally':hsl['Facility Tally'],'Greenspace Tally':hsl['Greenspace Tally'],'Greenspace_area':hsl['Greenspace_area'],'Response Time':hsl['Response Time'],'School Tally':hsl['School Tally']})

In [8]:
table1.head()

,LGA Name,Crime Rate,Facility Tally,Greenspace Tally,Greenspace_area,Response Time,School Tally
0,ALPINE,0.809080,0.156977,0.000000,0.000000,0.423077,1.0000
1,ARARAT,0.416700,0.174419,0.000000,0.000000,0.710702,0.9625
2,BALLARAT,0.431698,0.540698,0.000000,0.000000,0.925585,0.9375
3,BANYULE,0.693150,0.404070,0.143575,0.005607,0.945652,0.7000
4,BASS COAST,0.693960,0.229651,0.000000,0.000000,0.738294,0.6875

In [9]:
table1.to_csv('lga_attributes table', index=False)