In [1]:
import pandas as pd
import re

In [2]:
data = pd.read_csv("lga_postcode.csv")
data

     Unnamed: 0  Postcode        Suburb  LGA id           LGA names
0             0      3067    ABBOTSFORD   27350               Yarra
1             1      3040    ABERFELDIE   25060       Moonee Valley
2             2      3231  AIREYS INLET   26490          Surf Coast
3             3      3851         AIRLY   26810          Wellington
4             4      3042  AIRPORT WEST   25060       Moonee Valley
..          ...       ...           ...     ...                 ...
952         952      3717           YEA   25620         Murrindindi
953         953      3770        YERING   27450        Yarra Ranges
954         954      3869        YINNAR   23810             Latrobe
955         955      3869  YINNAR SOUTH   23810             Latrobe
956         956      3634       ZEERUST   22830  Greater Shepparton

[957 rows x 5 columns]

In [3]:
lga_upper = list()
for lga in list(data['LGA names']):
    lga = re.sub(r'-', ' ', lga).strip()
    lga_upper.append(lga.upper())

In [4]:
out = pd.DataFrame({'Postcode':data['Postcode'],"Suburb":data['Suburb'],"LGA id":data['LGA id'] ,"LGA names": lga_upper})
out

     Postcode        Suburb  LGA id           LGA names
0        3067    ABBOTSFORD   27350               YARRA
1        3040    ABERFELDIE   25060       MOONEE VALLEY
2        3231  AIREYS INLET   26490          SURF COAST
3        3851         AIRLY   26810          WELLINGTON
4        3042  AIRPORT WEST   25060       MOONEE VALLEY
..        ...           ...     ...                 ...
952      3717           YEA   25620         MURRINDINDI
953      3770        YERING   27450        YARRA RANGES
954      3869        YINNAR   23810             LATROBE
955      3869  YINNAR SOUTH   23810             LATROBE
956      3634       ZEERUST   22830  GREATER SHEPPARTON

[957 rows x 4 columns]

In [5]:
out.to_csv("new_keys.csv")